.bg-container {
  background-color: #152850;
  height: 100vh;
  font-family: roboto;
  color: #ffffff;
  overflow-y: auto;
}
.banner-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png);
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.search-box {
  padding: 12px;
  outline: none;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  height: 40px;
  margin-top: 20px;
  color: #ffffff;
}
.songs-container {
  list-style-type: none;
}
.not-found {
  text-align: center;
}
